<h1>Longest Word Challenge</h1>

<div class="result">
  <div class="upper-part">
    <h3 class="text-center border-bottom">Result</h3>

    <p class="result-string text-center"><%= @result %></p>
  </div>

  <%= link_to 'Play again', new_path, class: 'btn btn-info play-again-btn'  %>
</div>
